<!DOCTYPE html>
<html>
<head>
  <title>Rawstats</title>
  <%= stylesheet_link_tag    "rawstats/application", media: "all" %>
  <%= javascript_include_tag "rawstats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
